* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    margin: 0;
}

.quizzical--hr{
    border: 0.79px solid #DBDEF0;
}

.quizical--main--container{
    min-width: 550px;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px grey;
    position: relative;
    background-color: #F5F7FB;
    overflow: hidden;
}

#blue--blob{
    position: absolute;
    width: 297px;
    height: 235px;
    left: -100px;
    top: 430px;
    padding: 0px;
}

#yellow--blob{
    position: absolute;
    width: 297px;
    height: 235px;
    right: -100px;
    top: 0px;
    text-align: right;
}

.landing--container{
    text-align: center;
    color: #293264;

}

.landing--heading{
    font-size: 42px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}

.landing--text{
    font-size: 21px;
    margin-top: 10px;
}

.landing--button{
    margin-top: 30px;
    width: 193px;
    height: 52px;
    border-radius: 15px;
    border: none;
    background-color: #4D5B9E;
    color: #F5F7FB;
    cursor: pointer;
}

.question--wrap{
    min-width: 400px;
    min-height: 67px;
    margin: 0 40px;
}

.question--question{
    font-size: 21px;
}

.question--answers{
    display:  flex;
    margin: 10px 0;
}

.answer{
    margin-right: 10px;
    font-size: 14px;
    width: auto;
    min-height: 20.65px;
    border-radius: 7.94px;
    border: 0.75px solid #4D5B9E;
    background-color: transparent;
    cursor: pointer;
}

.answer--selected, .answer:hover, .answer:active{
    background-color: #D6DBF5;
    border-color: transparent;
    
}

.answer--correct{
    
}

.answer--wrong{
    
}

.answer--inactive{
    
}
    
.check--answers--container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.check--answers{
    width: 120px;
    font-size: 10.24px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #4D5B9E;
    color: #F5F7FB;
    cursor: pointer;
}
